[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = {editable = true, path = "3rdparty/markdown"}
pymdown-extensions = {editable = true, path = "3rdparty/pymdown-extensions"}
mkdocs = {editable = true, path = "3rdparty/mkdocs"}
mkdocs-versioned = {editable = true, path = "3rdparty/mkdocs-versioned"}
markdown-tabs = {editable = true, path = "plugins/markdown-tabs"}
GitPython = {editable = true, path = "3rdparty/GitPython"}
gitdb = "==4.0.4"

[dev-packages]

[requires]
python_version = "3.5"
