/*
 * Tweak the overal size to better match RTD.
 */
body {
    font-size: 90%;
    color: #2C3E50;
}

h1, h2, h3, h4, h5, h6, legend {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2 {
    color: #2C3E50;
    font-weight: 600;
}

h3, h4, h5, h6 {
    /*color: #2980b9;*/
    color: #2C3E50;
    /*font-weight: 300*/
    font-weight: 600;
}

/*
 * Sphinx doesn't have support for section dividers like we do in
 * MkDocs, this styles the section titles in the nav
 *
 * https://github.com/mkdocs/mkdocs/issues/175
 */
.wy-menu-vertical span {
    line-height: 18px;
    padding: 0.4045em 1.618em;
    display: block;
    position: relative;
    font-size: 90%;
    /*color: #838383;*/
    color: #fff;
}

.wy-menu-vertical .toctree-l2 a {
    padding: 0.4045em 2.427em;
}

/*
 * Long navigations run off the bottom of the screen as the nav
 * area doesn't scroll.
 *
 * https://github.com/mkdocs/mkdocs/pull/202
 */
.wy-nav-side {
    height: 100%;
    overflow-y: auto;
}

/*
 * readthedocs theme hides nav items when the window height is
 * too small to contain them.
 *
 * https://github.com/mkdocs/mkdocs/issues/#348
 */
.wy-menu-vertical ul {
  margin-bottom: 2em;
}

/*
 * Fix wrapping in the code highlighting
 *
 * https://github.com/mkdocs/mkdocs/issues/233
 */
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    white-space: pre;
    background-color: #f9f2f4;
    border-radius: 4px;
    border: none;
}

/*
 * Wrap inline code samples otherwise they shoot of the side and
 * can't be read at all.
 *
 * https://github.com/mkdocs/mkdocs/issues/313
 */
p code {
    word-wrap: break-word;
}

/*
 * The CSS classes from highlight.js seem to clash with the
 * ReadTheDocs theme causing some code to be incorrectly made
 * bold and italic.
 *
 * https://github.com/mkdocs/mkdocs/issues/411
 */
code.cs, code.c {
    font-weight: inherit;
    font-style: inherit;
}

/*
 * Fix some issues with the theme and non-highlighted code
 * samples. Without and highlighting styles attached the
 * formatting is broken.
 *
 * https://github.com/mkdocs/mkdocs/issues/319
 */
.no-highlight {
  display: block;
  padding: 0.5em;
  color: #333;
}

@media screen and (min-width: 1400px) {
    .wy-nav-content-wrap {
        background: none;
    }
}


pre code {
    font-size: 90%;
    /*background-color: #ecf0f1;*/
    background-color: #ecf0f1;
    /*border: 1px solid #ccc;*/
}

pre code.example {
    background-color: white;
}

.wy-menu-vertical .toctree-l1 a {
    color: white;
}